{% extends "delivery_base.html" %}

{% block title %}
外送員系統
{% endblock %}

{% block content %}
<h2 class="text-center">外送面板</h2>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5>待配送訂單</h5>
                    <p>查看並接收所有待配送的訂單。</p>
                    <a href="{{ url_for('view_delivery_orders') }}" class="btn btn-primary">查看訂單</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5>已完成訂單</h5>
                    <p>查看歷史配送記錄。</p>
                    <a href="{{ url_for('completed_orders') }}" class="btn btn-success">查看記錄</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
