{% extends "customer/customer_base.html" %}
{% block content %}
    <div class="container mt-5">
        <h1>訂單</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>商家</th>
                    <th>價格</th>
                    <th>下單時間</th>
                    <th>狀態</th>
                    <th>評論</th>
                </tr>
            </thead>
            <tbody>
                {% for order in data %}
                <tr>
                    <td>{{ order.restaurant_name }}</td>
                    <td>${{ order.total_price }}</td>
                    <td>{{ order.order_date }}</td>
                    <td>
                        {% if order.status == 'accepted' %}
                        <h5 class="text-end status-text">餐廳接單囉~</h5>
                        {% elif order.status in ['pending', 'notify'] %}
                        <h5 class="text-end status-text">餐點準備中</h5>
                        {% elif order.status == 'get_complete' %}
                        <h5 class="text-end status-text">餐點運送中</h5>
                        {% elif order.status == 'delivery_completed' %}
                        <h5 class="text-end status-text">餐點送達</h5>
                        {% elif order.status == 'all_completed' %}
                        <h5 class="text-end status-text">已完成</h5>
                        {% endif %}
                    </td>
                    <td>
                    {% if order.status == 'all_completed' %}
                        {% if order.is_reviewed %}
                            <h5 class="text-end status-text">已經評論過囉~</h5>
                        {% else %}
                            <a href="{{ url_for('customer_add_review', order_id=order.order_id, customer_id=order.customer_id, restaurant_id=order.restaurant_id) }}" class="btn btn-primary">新增評論</a>
                        {% endif %}
                    {% else %}
                        <h5 class="text-end status-text">訂單進行中</h5>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}