{% extends "customer/customer_base.html" %}
{% block content %}   
<div class="container mt-5">
    <h1>菜單</h1>
    <table class="table">
        <thead>
            <tr>
                <th>餐點名稱</th>
                <th>價格</th>
                <th>描述</th>
                <th>數量</th>
                <th>選取</th>
            </tr>
        </thead>
        <tbody>
            {% for menu in menus %}
            <tr>
                <td>{{ menu.item_name }}</td>
                <td>{{ menu.price }}</td>
                <td>{{ menu.description }}</td>
                <td>
                    <input type="number" name="quantity_{{ menu.id }}" min="1" max="{{ menu.stock_quantity }}" value="1">
                </td>
                <td> 
                    <input type="checkbox" name="menu_items" value="{{ menu.id }}"> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div style="position: fixed; bottom: 10px; right: 10px;"></div>
    <form id="orderForm" action="{{ url_for('place_order', restaurant_id=restaurant_id ,menu_id = 1 ) }}" method="post">
        <button type="submit" class="btn-order">下單</button>
    </form>
</div>
{% endblock %}
