{% extends "customer/customer_base.html" %}
{% block content %}
<div class="container mt-5">
    <h1>菜單</h1>
    <form id="orderForm" action="{{ url_for('place_order', restaurant_id=restaurant_id) }}" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>餐點ID</th>
                    <th>餐點名稱</th>
                    <th>價格</th>
                    <th>描述</th>
                    <th>數量</th>
                </tr>
            </thead>
            <tbody>
                {% for menu in menus %}
                <tr>
                    <td>{{ menu.menu_id }}</td>
                    <td>{{ menu.item_name }}</td>
                    <td>{{ menu.price }}</td>
                    <td>{{ menu.description }}</td>
                    <td>
                        <input type="number" name="quantity_{{ menu.menu_id }}" value="0" min="0" max="{{ menu.stock_quantity }}" required>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-end mt-3"></div>
            <button type="submit" class="btn btn-primary">下單</button>
        </div>
    </form>
</div>
{% endblock %}
