{% extends "base.html" %}
{% block content %}
    <h1 class="text-center mt-4">訂單歷史</h1>
    <div class="container mt-4">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>訂單編號</th>
                    <th>顧客 ID</th>
                    <th>總價格</th>
                    <th>狀態更新</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                {% if order.status == 'delivered' %}
                <tr>
                    <td>{{ order.order_id }}</td>
                    <td>{{ order.customer_id }}</td>
                    <td>${{ order.total_price }}</td>
                    <td>已取餐
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
